/* ------------------------------------------------------------------------------------ */
/* --------------------------------- Background --------------------------------------- */
/* ------------------------------------------------------------------------------------ */

body {
  background-color:#E9DCC9;
  -webkit-background-size: cover;
  background-size: cover;
  height:100%;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  }

.noScroll{
   touch-action: none;
   -ms-touch-action: none;
}

/* ------------------------------------------------------------------------------------ */
/* -------------------------------- Universal Defaults -------------------------------- */
/* ------------------------------------------------------------------------------------ */

* {
  scroll-behavior: smooth;
  font-family: Quicksand;
  color:#2e0308;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

*:focus {
  outline: none;
}

textarea, select, input, button { 
  outline: none;
}

*::-webkit-scrollbar {
  display:none;
}

b {
  font-weight:500;
}

div {
  margin:0 auto;
  padding:0;
}

textarea, input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------------------------------------------------------------------------------------ */
/* ------------------------------------ Animations ------------------------------------ */
/* ------------------------------------------------------------------------------------ */

.fadeIn0 {
  opacity:0;

  -webkit-animation: fadeIn ease-in 3000ms forwards;
  animation: fadeIn ease-in 3000ms forwards;

  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}

.fadeIn1 {
  opacity:0;

  -webkit-animation: fadeIn ease-in 1500ms forwards;
  animation: fadeIn ease-in 1500ms forwards;

  -webkit-animation-delay: 2050ms;
  animation-delay: 2050ms;
}

.fadeIn2 {
  opacity:0;

  -webkit-animation: fadeIn 3000ms ease-in forwards;
  animation: fadeIn 3000ms ease-in forwards;

  -webkit-animation-delay: 4025ms;
  animation-delay: 4025ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility ease-out 1000ms, opacity 1000ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility ease-out 2000ms, opacity 2000ms;
  transition-delay:1000ms;
}

.grow {
  transition: all .3s ease-in-out; 
}
.grow:hover { 
  color: darkslategrey;
  transform: scale(1.2);
}  

/* ------------------------------------------------------------------------------------ */
/* ------------------------------------- Elements ------------------------------------- */
/* ------------------------------------------------------------------------------------ */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  width:70%;
  max-width:24.5rem;
  
  pointer-events:none;
}

#subheader {
  padding:0;
  margin: 0;
  
  font-size: 1.1rem;
  font-weight: 300;
  text-align:center;
  letter-spacing: .4rem;
  
  pointer-events:none;
}

#chevron {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width:3rem;
  height:3rem;
  
  pointer-events:none;
}

.paragraph {
  margin: 0 auto;
  text-align:justify;
  
  font-size:1.2rem;
  font-weight:400;
  line-height:1.2;

  width:min(90%, 30rem);
  
  overflow:hidden;
  
  pointer-events:none;
}

.buttons {
  margin: 0 auto;
  
  width:fit-content;
  height:fit-content;

  background-color: transparent;

  font-size:2.5rem;
  font-weight:300;
  font-variant:small-caps;
  letter-spacing:.1rem;
  text-align: center;
  text-decoration: underline;
}

/* -------------------------------------------------------------------------------------- */
/* ---------------------------------- Modal --------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;

  overflow:hidden;
  
  z-index:99;
}

.content {
    overflow:visible;
    margin:0;
    padding:0;
 
    border:none;
  
    position:relative;
    float:left;
    
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  
    width:min(80vw, 30rem);
    max-height:95vh;

    border-radius:15px 15px 0 15px;
    background: #E9DCC9;
  
}

.title {
  margin-top:0;
  margin-bottom:1rem;

  font-size: 1.8rem;
  font-weight:500;
  text-align: center;
  letter-spacing:.1rem;
}

.modalParagraph {
  position:relative;
  overscroll-behavior: contain;

  margin:0;
  padding:0;
  
  width:auto;
  max-height:95vh;
  
  font-size:1.1rem;
  font-weight:400;
  
  overflow-y:auto;
  overflow-x:hidden;
}

.submitButton {
  margin-bottom:0;
  display:block;
  width:fit-content;
  border:transparent;
}

.close {
  position:absolute;
  right:0;
  bottom:3px;
  
  width:35px;
  height:35px;

  z-index:100;
  -webkit-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

/* -------------------------------------------------------------------------------------- */
/* ------------------------------ Reservation Form Elements ----------------------------- */
/* -------------------------------------------------------------------------------------- */

input::placeholder {
    opacity: .6;
    color: darkslategrey;
}

textarea::placeholder{
    opacity: .6;
    color: darkslategrey;
}

select {
  -webkit-appearance:none;
  background-color:#E9DCC9;
  box-shadow:none !important;
  box-sizing: border-box;
  
  background: url("images/dropdownarrow.svg") no-repeat right 1rem center;
  background-size: .6rem .3rem;
}

.formQ {
  display:block;
  margin: 0 auto .5rem auto;
  
  width: 95%;
  height: auto;

  border-radius:5px;
  border:.1rem solid;

  padding:.3rem 0 .3rem 1rem;
  
  border-color:#2e0308;
  font-size:1.2rem;
  font-variant:small-caps;
  color:#2e0308;
  background-color:#E9DCC9;
}

input[type="date"]{
  font-size:1.2rem; 
  margin:0 0 1px 0;
  padding:.3rem 0 .3rem 1rem;
}
input[type="time"]{
  font-size:1.2rem; 
  margin:0 0 1px 0;
  padding:.3rem 0 .3rem 1rem;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display:none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input::-webkit-date-and-time-value{
  text-align:left;
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex-container{
  margin: 0 auto .5rem auto;
  
  height:auto;
  width:95%;
  
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.formInline {
  width:100%;
  padding:.3rem 0;

  background-color:transparent;
  background-repeat:no-repeat;
  
  font-variant:small-caps;
  text-align:center;

  border:.1rem solid;
  border-radius:5px;
  font-size:1.2rem;
  color:#2e0308;
}
